{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
<main>
    <div class="bcg-profile">
        <section id="dashboard">
            <aside>
                <div class="dashboard-aside">
                    <figure>
                        <img src="{{ asset('uploads/' ~ app.user.profilePicture)}}" alt="">
                    </figure>
                    <p><b>{{ app.user}}</b></p>
                </div>
                <ul>
                    <li><a href="{{ path('show_profile') }}"><i class="fa-regular fa-user" style="color: #ffffff;"></i> Profil</a></li>
                    <li class="active"><a href="{{ path('show_posts') }}"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i> Posts</a></li>
                    <li><a href="{{ path('show_ratings') }}"><i class="fa-regular fa-star-half-stroke" style="color: #ffffff;"></i> Avis</a></li>
                    <li><a href="#"><i class="fa-regular fa-heart" style="color: #ffffff;"></i> Favoris</a></li>
                    <li><a href="#"><i class="fa-solid fa-signs-post" style="color: #ffffff;"></i> Itinéraires</a></li>
                </ul>
            </aside>
            <section id="profile-container">
                <h1>Vos posts</h1>
                {% if app.user.posts %}
                <ul>
                    {% for post in app.user.posts %}
                        <li>{{ post.title}} &nbsp;<a href="{{ path('show_post', {'id' : post.id}) }}">Voir le post</a></li>
                        {# <p>{{ post.content}}</p>
                        <figure>
                            <img src="{{ asset('uploads/'~ post.image)}}" alt="">
                        </figure>
                        <small>{{post.creationDate | date("d/m/Y, H:i")}}</small> #}
                    {% endfor %}
                </ul>
                {% else %}
                    <p>Vous n'avez pas encore créé de post.</p>
                {% endif %}
                
            </section>
        </section>
    </div>
</main>
{% endblock %}