{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
<main>
    <div class="bcg-profile">
        <section id="dashboard">
            <aside>
                <div class="dashboard-aside">
                    <figure>
                        <img src="{{ asset('uploads/' ~ app.user.profilePicture)}}" alt="">
                    </figure>
                    <p><b>{{ app.user}}</b></p>
                </div>
                <ul>
                    <li class="active"><a href="{{ path('show_profile') }}) }}"><i class="fa-regular fa-user" style="color: #ffffff;"></i> Profil</a></li>
                    <li><a href="{{ path('show_posts') }}"><i class="fa-regular fa-pen-to-square" style="color: #ffffff;"></i> Posts</a></li>
                    <li><a href="{{ path('show_ratings') }}"><i class="fa-regular fa-star-half-stroke" style="color: #ffffff;"></i> Avis</a></li>
                    <li><a href="#"><i class="fa-regular fa-heart" style="color: #ffffff;"></i> Favoris</a></li>
                    <li><a href="{{ path('show_itineraries') }}"><i class="fa-solid fa-signs-post" style="color: #ffffff;"></i> Itinéraires</a></li>
                </ul>
            </aside>
            <section id="profile-container">
                 <h1><span>Bienvenue</span> sur votre profil &#129384;</h1>
                {# <p>Nom d'utilisateur : {{ app.user}}</p>
                    <p><a href="{{ path('edit_user', {'id' : app.user.id}) }}">Modifier les infos du profil</a>
                <p>Email : {{ app.user.email}}</p> #}
                <div class="fieldset">
                    <fieldset class="security-links">
                        <legend>Espace Sécurité</legend>
                        <p><a href="{{ path('edit_password', {'id' : app.user.id}) }}"><i class="fa-solid fa-key"></i>&nbsp;Modifier mot de passe</a>
                        <p><a href="#"><i class="fa-solid fa-triangle-exclamation"></i>&nbsp;Supprimer le compte</a>
                    </fieldset>
                </div>
            </section>
        </section>
    </div>
</main>
{% endblock %}