{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<main id="main">
    <section>
    {{ form_start(formFindPlace)}}
    {{ form_row(formFindPlace.themes)}}
    {{ form_row(formFindPlace.companions)}}
    {{ form_row(formFindPlace.valider)}}
    {{ form_end(formFindPlace)}}
    </section>
</main>
{% endblock %}
