{% extends 'base.html.twig' %}

{% block meta_description %}
    Créez des itinéraires personnalisés selon vos préférences et compagnons de voyage. Découvrez les lieux qui vous correspondent en Alsace avec AlsaceGo
{% endblock %}


{% block title %}AlsaceGo | Créez Vos Itinéraires Personnalisés{% endblock %}

{% block body %}
    {% block stylesheets %}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    {% endblock %}

    <main id="main">
        <!-- =========================== PRESENTATION  =========================== -->
    <div class="main-picture-bcg">
        <section id="presentation">
                <figure class="flying-stork">
                    <img src="img-source/flying-stork.webp" alt="Icône représentant une cigogne en vol">
                </figure>
                <div class="presentation">
                    <h1>Visitez l'Alsace<br>
                        <div class="span-container-title">
                            <span>autrement</span>
                        </div>
                    </h1>
                    
                    <a href="#choice" class="home-btn" aria-label="Découvrir : accéder au formulaire permettant de sélectionner un thème et un compagnon de voyage">Découvrir</a>

                    <p><i class="fa-solid fa-chevron-down"></i></p>
                </div>
            
        </section>
    </div>
         <!-- =========================== SELECT THEME / COMPANION  =========================== -->
        <div class="bcg-choice">
            {# <figure>
                <img src="img-source/vignes-community.webp">
            </figure> #}
            <section id="choice">
                <form method="POST" action="{{ path('app_search')}}" enctype="application/x-www-form-urlencoded">
                    <h2 class="choice-theme-title">Choisissez le <span>thème</span> de votre séjour</h2>
                    <div class="choice-theme-container">
                        {% for theme in themes %}
                            <input type="radio"
                                id="themes_{{ theme.id }}"
                                name="themes"
                                required="required"
                                value="{{ theme.id }}">
                            <label for="themes_{{ theme.id }}">
                                <figure>
                                    <img src="{{ asset('img-source/' ~ theme.name ~ '.webp') }}" alt="Illustration représentant le thème {{ theme.name }}">
                                </figure>
                            </label>
                        {% endfor %}
                    </div>
                    <div class="choice-companion-container">
                        <h2>Avec <span>qui</span> souhaitez-vous voyager?</h2>
                        <div class="swiper">
                            <div class="swiper-wrapper" space-between="10">
                                {% for companion in companions %}
                                    <div class="swiper-slide">
                                        <input type="radio"
                                            id="companions_{{ companion.id }}"
                                            name="companions"
                                            required="required"
                                            value="{{ companion.id }}">
                                        <label for="companions_{{ companion.id }}">
                                            <figure>
                                                <img src="{{ asset('img-source/' ~ companion.name ~ '.webp') }}" alt="Illusration représentant le choix {{ companion.name }}">
                                            </figure>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    <button type="submit" class="go-btn">C'est parti !</button>
                    </div>
                </form>
            </section>
        </div>

        <!-- =========================== USER SECTION : LAST ITINERARIES =========================== -->
        {% if app.user %}
            
            <div class="bcg-last-itineraries">
                <div class="last-itineraries-container">
                <h2><i class="fa-solid fa-map-location-dot"></i>&nbsp;&nbsp;Découvrez les derniers itinéraires publiés</h2>
                <section id="last-itineraries">
                    <div class="itineraries-container">
                        {% for itinerary in lastItineraries %}
                            <div class=" itinerary-container">
                                {# <h3><i class="fa-solid fa-map-pin"></i>Découvrez l'itinéraire de </h3> #}
                                <div class="profile-itinerary-detail-container">
                                    <div class="username-pic-itinerary">
                                        <figure class="user-profile-pic-itinerary">
                                            <img src="{{ asset('uploads/'~ itinerary.user.profilePicture)}}">
                                        </figure>
                                        <p>{{ itinerary.user }} &#129384;</p>
                                    </div>
                                    <div class="itinerary-stork-div">
                                        <figure class="itinerary-stork">
                                            <img src="img-source/itinerary-stork-detail.webp" alt="Icône représentant une cigogne en vol">
                                        </figure>
                                    </div>
                                </div>
                                <div class="itinerary-text-content">
                                    <h4>{{ itinerary.departure.cityName}}&nbsp;<i class="fa-solid fa-arrow-right-long"></i>&nbsp;<span>{{ itinerary.arrival.cityName}}</span></h4>
                                    {# <p>{{ itinerary.arrival.cityName}}</p> #}
                                    <div>    
                                        <p>Durée estimée : {{ itinerary.duration}}
                                            {% if  itinerary.duration > 1 %}
                                                jours
                                            {% else %}
                                                jour
                                            {% endif %}
                                        </p>
                                        <p>{{ 2 + itinerary.cities|length}} 
                                            {% if  itinerary.cities|length > 1 %}
                                                villes traversées
                                            {% else %}
                                                ville traversée
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
            </div>
            <div class="bcg-last-posts">
                <div class="last-posts-container">
                <section id="last-posts">
                    <h2><i class="fa-regular fa-paper-plane"></i>&nbsp;&nbsp;Les derniers récits de voyage qui vont vous inspirer</h2>
                    <div class="posts-home-container">
                        {% for post in lastPosts %}
                            <div class="post-home-container">
                                {# <div class="profile-post-detail-container">
                                    <figure class="user-profile-pic-sm-circle-home">
                                        <img src="{{ asset('uploads/'~ post.user.profilePicture)}}">
                                    </figure>
                                    <div>
                                        <p>{{ post.user }}, le {{post.creationDate | date("d/m/Y à H:i")}}</p>
                                        <small>{{post.creationDate | date("d/m/Y, H:i")}}</small> 
                                    </div>
                                </div>#}
                                <div class="post-content-home">
                                    <h3>« {{ post.title }} »</h3>
                                    <div class="img-content-container-home">
                                        <figure class="post-figure">
                                            <img src="{{ asset('uploads/'~ post.image)}}">
                                        </figure>
                                        <div>
                                            <p class="post-place-name">
                                                <a href="{{ path('show_place', {'id': post.place.id}) }}"><i class="fa-solid fa-location-dot" style="color: #fb463a;"></i>&nbsp;{{post.place}}</a>
                                            </p>
                                            <p class="post-place-address"><i class="fa-solid fa-map-pin"></i> {{ post.place.address}}</p>
                                            <p class="post-content-text-home">« {{ post.content }} »</p>
                                        </div>
                                    </div>
                                    <div class="show-post-comments">
                                        {% if  post.commentaries|length > 1 %}
                                            <p><i class="fa-regular fa-comments"></i>&nbsp;{{ post.commentaries|length }} réponses </p>
                                        {% else %}
                                            <p><i class="fa-regular fa-comments"></i>&nbsp;{{ post.commentaries|length }} réponse </p>
                                        {% endif %}
                                        <p>
                                            <a href="{{ path('show_post', {'id' : post.id} )}}"><i class="fa-solid fa-arrow-right-long"></i>&nbsp;Voir le post</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                </div>
            </div>

        <!-- =========================== USER SECTION : LAST POSTS =========================== -->


        <!-- =========================== USER SECTION : LAST PLACES =========================== -->



        {% else %}
            
        
       <!-- =========================== HOW IT WORKS SECTION =========================== -->
        <div class="bcg-how-it-works">
            {# <div id="scrolling-section"> #}
            
            <section id="how-it-works" class="scrolling-section" >
                <h2>Comment ça fonctionne ?</h2>
                {# <div class="horizontal-scroll-container"> #}
                    <!-- =============== step 1 : choose theme =============== -->
                    <article class="scroll-article" id="article1" >
                      
                        <div class="side-illustration-theme">
                        <!-- left side : illustration of the theme choice process -->
                            <figure>
                                <img src="img-source/choice-theme-white.webp" alt="Description illustration étape 1">
                            </figure>
                        </div>
                        <!-- right side : explanation -->
                        <div class="right-block">
                            {# <figure class="arrow-icon">
                                <img src="img-source/straight-arrow.webp" alt="Icone représentant une flèche rouge pointée vers le bas">
                            </figure> #}
                            <h3><span class="number">1.</span>Choisissez un thème</h3>
                            <figure class="looking-down">
                                <img src="img-source/looking-straight-stork.webp" alt="Illustration représentant une cigogne regardant en bas">
                            </figure>
                            <!-- small text explanation-->
                            <div class="right-block-paragraphs">
                                <p class="p-home"><span class="bretzel">&#129384;</span><span>Laissez-vous guider par vos passions et vos envies en sélectionnant le thème qui vous parle le plus.</span></p>
                                <p class="border-home"></p>
                                <p class="p-home"><span class="bretzel">&#129384;</span><span>Que vous soyez un amateur d'histoire, un fin gourmet, un amoureux de l'art ou un aventurier dans l'âme, l'Alsace vous attend !</span></p>
                            </div>
                            <!-- link that leads to the choice theme  -->
                            {# <a href="#choice" aria-label="Renvoie au formulaire initial en haut de page">Découvrir mon itinéraire</a> #}
                        </div>
                    </article>
                    <!-- =============== step 2 : choose companion / with who? =============== -->
                    <article class="scroll-article" id="article2">
                        <!-- left side : explanation -->
                        <div class="right-block">
                            {# <figure class="arrow-icon">
                                <img src="img-source/straight-arrow.webp" alt="Icone représentant une flèche rouge pointée vers le bas">
                            </figure> #}
                            <h3><span class="number">2.</span>Choisissez avec qui vous voyagez</h3>
                            <figure class="standing-stork-up">
                                    <img src="img-source/stork-looking-up.webp" alt="Illustration représentant une cigogne regardant en l'air">
                            </figure>
                            <!-- small text explanation-->
                            {# <p class="p-home"> &#129384; Un voyage en Alsace, c'est encore mieux quand on le partage !</p> #}
                            {# <p class="border-home"></p> #}
                            <div class="right-block-paragraphs">
                                <p class="p-home"><span class="bretzel">&#129384;</span><span>Prévoyez-vous de voyager en couple, entre amis, en famille ou en solo ? Précisez-nous votre choix !</span></p>
                                <p class="border-home"></p>
                                <p class="p-home"><span class="bretzel">&#129384;</span><span>Nous vous proposerons des lieux et des activités adaptés, pour que chacun puisse profiter de l'expérience.</span>
                                </p>
                            </div>
                            <!-- link that leads to the choice theme  -->
                            {# <a href="#choice" aria-label="Renvoie au formulaire initial en haut de page">Découvrir mon itinéraire</a> #}
                        </div>
                        <!-- right side : illustration of the 'with who?' choice process -->
                        <div class="side-illustration-companion">
                            <!-- left side : illustration of the theme choice process -->
                            <figure>
                                <img src="img-source/choice-companion-white.webp" alt="Description illustration étape 2">
                            </figure>
                        </div>
                    </article>
                    <!-- =============== step 3 : discover the map with personalized itinerary =================== -->
                    <article class="scroll-article" id="article3">
                        <div class="side-illustration-itinerary ">
                            <!-- left side : illustration of the theme choice process -->
                            <figure>
                                <img src="img-source/itinerary-green1.webp" alt="">
                            </figure>
                        </div>
                        <!-- right side : explanation -->
                        <div class="right-block">
                            {# <figure class="arrow-icon">
                                <img src="img-source/loop-arrow.webp" alt="Icone représentant une flèche rouge, bouclée,  vers le bas">
                            </figure> #}
                            <h3><span class="number">3.</span>En route pour l'aventure !</h3>
                            <!-- small text explanation-->
                            {# <p class="p-home"> &#129384; C'est ici que la magie opère !</p>
                            <p class="border-home"></p> #}
                            <div class="right-block-paragraphs">
                                <p class="p-home"><span class="bretzel">&#129384;</span><span> En fonction de vos choix précédents, notre site vous dévoilera une sélection de lieux d'intérêts et de visites incontournables.</span></p>
                                <p class="border-home"></p>
                                <p class="p-home"><span class="bretzel">&#129384;</span><span>Laissez-vous surprendre par la richesse et la diversité de l'Alsace, et préparez-vous à vivre des moments inoubliables.</span></p>
                            </div>
                            <!-- link that leads to the choice theme  -->
                            {# <a href="#choice" aria-label="Renvoie au formulaire initial en haut de page">Découvrir mon itinéraire</a> #}
                        </div>
                    </article>
                {# </div> #}
            </section>
            {# </div> #}
        </div>
   
     
        <!-- =========================== JOIN COMMUNITY SECTION =========================== -->
        <div class="bcg-join-community">
            
            <section id="join-community">
                <!-- benefits/advantages when a user is registered -->
                <h2>Rejoignez la communauté et profitez de nombreux avantages</h2>
                <!-- first advantage -->
                <div>
                    <article>
                        <!-- small text explanation-->
                     
                        <figure id="itinerary-phone" class="div-hidden div-from-right">
                            <img src="img-source/phone-itinerary6.webp" alt="Description deuxième avantage">
                        </figure>
                        
                    </article>
                    <div id="blur-bcg" class="top">
                        <h3><i class="fa-solid fa-signs-post"></i>&nbsp; Créez des itinéraires personnalisés</h3>
                        <div class="create-itineraries">
                           <p>Créez vos propres itinéraires de voyage en Alsace :</p> <p>Sélectionnez une ville de départ, une ville d'arrivée et autant d'étapes intermédiaires que vous le souhaitez !</p><br> 
                           <p>Pour chaque ville, vous pourrez découvrir les lieux référencés, leurs avis et posts associés.</p><br> 
                           <p>Filtrez-les en fonction de vos préférences, adaptez votre voyage à vos envies du moment et profitez pleinement de votre expérience !</p>
                        </div>
                    </div>
                    <!-- second advantage -->
                    <article>
                        {# 
                        <!-- small text explanation-->
                        #}
                        <figure id="reviews-phone"  class="div-hidden div-from-left">
                            <img src="img-source/phone-review-pic.webp" alt="Description premier avantage">
                        </figure>
                        
                    </article>
                    <div id="blur-bcg" class="middle">
                        <h3>Notez les lieux et faites entendre votre voix &nbsp;<i class="fa-regular fa-star-half-stroke"></i></h3>
                        <div class="reviews-users">
                            <p>En tant que membre de notre communauté, votre avis nous est précieux.</p><br>
                            <p>Après avoir visité un lieu, attribuez-lui une note et laissez un commentaire pour partager votre ressenti avec les autres utilisateurs.</p><br>
                            <p>Notre système de notation interne vous permettra de vous fier à l'avis des membres de la communauté </p><br>
                            <p>Découvrez des lieux souvent méconnus et uniques à ne pas manquer lors de votre prochain voyage en Alsace.</p> 
                        </div>
                    </div>
                    <!-- third advantage -->
                    <article>
                        {# 
                        <!-- small text explanation-->
                         #}
                        <figure id="share-posts"  class="div-hidden div-from-right">
                            <img src="img-source/share-posts.webp" alt="Description troisième avantage">
                        </figure>
                    </article>
                    <div id="blur-bcg" class="bottom">
                        <h3><i class="fa-regular fa-comments"></i>&nbsp; Publiez des posts et échangez avec la communauté</h3>
                        <div class="publish-posts">
                            <p>Partagez vos plus beaux moments et vos découvertes en publiant des posts liés aux lieux que vous avez visités.</p><br>
                            <p>Ajoutez une image et donnez envie aux autres membres de la communauté de suivre vos traces.</p><br>
                            <p>Les utilisateurs pourront réagir à vos publications et engager des discussions passionnantes.</p><br>
                            <p>Inspirez-vous des expériences des autres et créez de nouvelles amitiés autour de votre amour commun pour l'Alsace.</p>
                        </div>
                        </p>
                    </div>
                </div>
            </section>
        </div>
    {% endif %}
  <!-- ================================ SHARE EXPERIENCE SECTION ================================ -->
        <div class="bcg-share" aria-label="Photographie représentant les vignes Alsaciennes">
            <section id="share-experience">
                <article>
                    <figure class="straight-stork">
                        <img src="img-source/looking-straight-stork.webp" alt="Illustration représentant une cigogne, avec un corps noir et blanc. Son bec est long et de couleur orange vif, tout comme ses pattes. Elle est tournée vers la droite et regarde légèrement vers le bas" >
                    </figure>
                    <div class="share-message">
                        <h3>Partagez vos expériences...</h3>
                        <figure>
                            <img src="img-source/left-speech-bubble.webp" alt="Illustration représentant une bulle de discussion, de couleur blanche, orientée à gauche">
                        </figure>
                    
                        <figure class="standing-stork">
                            <img src="img-source/stork-looking-up.webp" alt="Illustration représentant une cigogne, avec un corps noir et blanc. Son bec est long et de couleur orange vif, tout comme ses pattes. Elle est tournée vers la gauche et regarde en l'air">
                        </figure>
                        <h3>...et découvrez celles des autres</h3>
                        <figure>
                            <img src="img-source/right-speech-bubble.webp" alt="Illustration représentant une bulle de discussion, de couleur blanche, orientée à droite">
                        </figure>
                    </div>

                    <div>
                        <p>Restez connectés et prolongez l'expérience alsacienne en nous suivant sur les réseaux sociaux !</p>
                        <p>Partagez vos expériences, découvrez  les aventures des autres voyageurs et laissez-vous inspirer pour vos futurs périples en Alsace.</p>
                        <p>N'hésitez pas à cliquer sur les icônes des réseaux sociaux pour vivre pleinement l'expérience alsacienne, même de chez vous !</p>
                    </div>
                    <div class="socials">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-x-twitter"></i>
                    </div>
                </article>
                <aside>
                    <figure><img src="#" alt="Partagez vos moments inoubliables et vos découvertes"></figure>
                    <figure><img src="#" alt="Trouvez l'inspiration pour vos prochains voyages en Alsace"></figure>
                    <figure><img src="#" alt="Restez informés des actualités et des événements régionaux"></figure>
                </aside>
            </section>
        </div>
       
    </main>

    {% block javascripts %}
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                // setTimeout(function() {
                    document.querySelector('.main-picture-bcg').classList.add('show');
                // }, 500); // Delai
            });

            document.addEventListener('DOMContentLoaded', function () {
                const section = document.getElementById('join-community');
                const divs = document.querySelectorAll('.div-hidden');
                let lastScrollTop = 0;

                // Observer pour les divs
                const observer = new IntersectionObserver((entries, observer) => {
                    entries.forEach(entry => {
                        if (entry.isIntersecting && entry.boundingClientRect.top > 0) { // Défilement vers le bas
                            entry.target.classList.add('div-visible');
                            entry.target.classList.remove('div-from-left', 'div-from-right'); // Retire les classes de position initiale
                            observer.unobserve(entry.target); // Arrête l'observation après l'animation
                        }
                    });
                }, {
                    // rootMargin: '0px',
                    rootMargin: '0px 0px -10% 0px',
                    threshold: 0.6
                });

                // Fonction pour réinitialiser les animations
                const resetAnimations = () => {
                    divs.forEach(div => {
                        div.classList.remove('div-visible');
                        if (!div.classList.contains('div-from-left') && !div.classList.contains('div-from-right')) {
                            if (div.classList.contains('div-hidden')) {
                                div.classList.add('div-from-left'); // Ajoute par défaut la classe si aucune des deux n'est présente
                            }
                        }
                        // Réactive l'observation pour réanimer lors du défilement vers le bas
                        observer.observe(div);
                    });
                };

                // Observe la direction du défilement et réinitialiser les animations si nécessaire
                window.addEventListener('scroll', () => {
                    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

                    if (scrollTop < lastScrollTop && scrollTop < section.offsetTop) { // Défilement vers le haut au-dessus de la section
                        resetAnimations();
                    }

                    lastScrollTop = scrollTop;
                });

                // Active l'observation initiale des divs
                divs.forEach(div => observer.observe(div));
            });

                    
            document.addEventListener('DOMContentLoaded', function(){
                const swiper = new Swiper('.swiper', {
                        loop: true,
                        slidesPerView: 4,
                        });
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    {% endblock %}
{% endblock %}
