{% extends 'base.html.twig' %}

{% block title %}Inscription | AlsaceGo{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<main>
    <section class="general-form">
        <div class="form-container register">

            <h1>Inscription</h1>
             <figure class="form-stork-register">
                <img src="img-source/looking-left-stork.webp" alt="Illustration représentant une cigogne, avec un corps noir et blanc. Son bec est long et de couleur orange vif, tout comme ses pattes. Elle est tournée vers la gauche et regarde légèrement vers le bas" >
            </figure>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.profilePicture)}}
                {{ form_row(registrationForm.plainPassword)}}
                {# <div class="agree-terms"> #}
                    {{ form_row(registrationForm.agreeTerms, {'row_attr': {'class' : 'agree-terms'}}) }}
                {# </div> #}

                <button type="submit" class="btn btn-register ">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </section>
</main>
{% endblock %}

