{% extends 'base.html.twig' %}
{% block title %}Map{% endblock %}
{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/map.css')}}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
    {% endblock %}
    <main class="index-map-container">
        <div class="places-wrapper">
            <section id="display-places">
                <aside> 
                    {# {{dump(places)}} #}
                    <div id='places-container'>
                        {% for place in places %}
                            <div id="{{place.id}}" class="place-infos-container">
                                <div class="place-img">
                                    {% for image in place.images|slice(0,2) %}
                                        <figure>
                                            <img src="{{ asset('images/place/') ~ image }}" alt="{{ place.name }}">
                                        </figure>
                                    {% endfor %}
                                </div>
                                <div >
                                    <h2>{{place.name}}</h2>
                                    <div><span class="stars-color">{{ place.averageRating|round(1, 'floor')|stars|raw }}</span>({{ place.ratings|length}})
                                        <a href="{{ path('show_place', {'id': place.id}) }}">Détails et avis</a>
                                    </div>
                                    <p>{{ place.type }}</p>
                                    <p>Adresse : {{ place.address }}, {{ place.zipcode }} {{ place.city }}</p>
                                </div>
                                {# <button id="hide-button">Masquer</button> #}
                            </div>
                            <p class="border"></p>
                        {% endfor %}
                    </div>
                </aside>    
            <div id="map"></div>
             <figure class="stork-index-map">
                    <img src="img-source/flying-stork.webp" alt="Illustration représentant une cigogne regardant en l'air">
            </figure>
            <p class="index-create-itinerary"><a href="{{ path('new_itinerary')}}"><i class="fa-solid fa-arrow-right-long"></i>&nbsp; Créer mon itinéraire</a></p>
            </section>    
        </div>
    </main>
{% endblock %}
    {% block javascripts %}
        <script src="https://kit.fontawesome.com/d004286c36.js" crossorigin="anonymous"></script>
        <script>window.placesData = JSON.parse("{{ placesData|e('js') }}") || [];</script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <script src="{{ asset('js/map.js')}}"></script>
    {% endblock %}
