{% extends 'base.html.twig' %}

{% block title %}Itinéraire personnalisé{% endblock %}

{% block body %}

<h1>Ajouter un itinéraire</h1>

{{ form_start(formAddItinerary) }}

{{ form_row(formAddItinerary.name) }}

{# {{ form_row(formAddItinerary.departure) }} #}
 {# Gestion de l'affichage des suggestions de communes #}
<div>
    {{ form_label(formAddItinerary.departure) }}
    {{ form_widget(formAddItinerary.departure) }}
    <ul id="commune-with-places"></ul>
</div>
    {{ form_row(formAddItinerary.codeDeparture) }}

{# {{ form_row(formAddItinerary.arrival) }} #}
<div>
    {{ form_label(formAddItinerary.arrival) }}
    {{ form_widget(formAddItinerary.arrival) }}
    <ul id="commune-with-places"></ul>
</div>
{{ form_row(formAddItinerary.codeArrival) }}

<div id="custom_itinerary_intermediate_cities"
    data-prototype="{{ form_widget(formAddItinerary.cities.vars.prototype)|e }}">
    <label for = "custom_itinerary_cities" >Ville intermédiaire</label>
    {% for city in formAddItinerary.cities %}
        <div class="intermediate_city_container">
            {{ form_errors(city) }}
            {{ form_widget(city, {'attr': {'class': 'intermediate_city'}} ) }}
            {# <button type="button" class="delete_city_button">Supprimer</button> #}
        </div>
    {% endfor %}
</div>
{# <button type="button" class="add_city_button">Ajouter une ville intermédiaire</button> #}
{{ form_row(formAddItinerary.valider) }}

{{ form_end(formAddItinerary) }}

<div id="map-itinerary"></div>

 {% block javascripts %}
   <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
   <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="{{ asset('js/itinerary.js')}}"></script>
    
    {% endblock %}

{% endblock %}