{% extends 'base.html.twig' %}

{% block title %}Itinéraire personnalisé{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/TomSelect/2.2.2/css/tom-select.bootstrap5.min.css" integrity="sha512-/9r4vgK6s6Nmf7j3KLNq+4W8m4uAMXdMzpCk8zFqn1MDWZqKtEImv3pD3ueHhV0JLR9GNjbOAa7zBCuXFA1wA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}
{% block body %}
    <main class="new-itinerary-form">
        <h1>Créer un nouvel itinéraire</h1>
        <section id="itinerary-form">
            
            <div class="itinerary-form">

                {{ form_start(formAddItinerary) }}

                {{ form_row(formAddItinerary.name) }}

                
                {# Gestion de l'affichage des suggestions de communes #}
                 <div>
                    {{ form_label(formAddItinerary.departure) }}
                    {{ form_widget(formAddItinerary.departure, {'attr': {'class': 'commune-input'}}) }}
                    <ul id="commune-with-places-departure"></ul>
                </div> 
                {#{{ form_row(formAddItinerary.departure)}} #}
                {# {{ form_row(formAddItinerary.departure, {'attr': {'class': 'tom-select '}}) }} #}

                <div>
                    {{ form_label(formAddItinerary.arrival) }}
                    {{ form_widget(formAddItinerary.arrival,  {'attr': {'class': 'commune-input'}}) }}
                    <ul id="commune-with-places-arrival"></ul>
                </div>
                <div class="hidden">
                    {{ form_row(formAddItinerary.codeDeparture) }}
                    {{ form_row(formAddItinerary.codeArrival) }}
                </div>
                <div class="add-intermediate">
                    <p><b>Ajoutez des villes intermédiaires</b></p>
 
                    <div id="custom_itinerary_intermediate_cities"
                        data-widget-counter="{{ formAddItinerary.cities|length }}"
                        data-prototype="{{ form_widget(formAddItinerary.cities.vars.prototype)|e }}"
                        data-itinerary="{{ itineraryId }}">

                        {% for city in formAddItinerary.cities %}
                            <div class="intermediate_city_container">
                                {{ form_widget(city) }}
                            </div>
                            {# <button type="button" class="delete_city_button">Supprimer</button> #}
                        {% endfor %}
                    </div>
                    <button type="button" 
                            class="add_city_button" 
                            data-list-selector="#custom_itinerary_intermediate_cities">&#128932; Ajouter une ville
                    </button> 

                    {# {{ form_row(formAddItinerary.cities)}} #}
                </div>


                {# empêche l'apparition d'une légende "cities", si la collection est vide #}
                {% do formAddItinerary.cities.setRendered %} 

                {{ form_row(formAddItinerary.valider) }}

                {{ form_end(formAddItinerary) }}
            </div>
            <div id="map-itinerary"></div>    
        </section>    

        {% block javascripts %}
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
        <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>
        {# <script src="{{ asset('bundles/tomselect/dist/js/tom-select.complete.min.js') }}"></script> #}
            <script src="{{ asset('js/itinerary.js')}}"></script>
        <script>
    //         const departureSelect = new TomSelect('#custom_itinerary_departure select', {
    //         create: false,
    //         sortField: {
    //             field: 'text',
    //             direction: 'asc'
    // }
    // });
//     plugins: ['dropdown_input'],
//     // render: {
//     //     option: function(data, escape) {
//     //         return '<div>' + escape(data.text) + '</div>';
//     //     },
//     //     item: function(data, escape) {
//     //         return '<div>' + escape(data.text) + '</div>';
//     //     }
//     // }
// });
	// const departureSelect = new TomSelect("#custom_itinerary_departure",{
	// 	plugins: ['remove_button'],
	// 	create: true,
	// 	// onItemAdd:function(){
	// 	// 	this.setTextboxValue('');
	// 	// 	this.refreshOptions();
	// 	// },
	// 	render:{
	// 		option:function(data,escape){
	// 			return '<div class="d-flex"><span>' + escape(data.value) + '</span><span class="ms-auto text-muted">' + escape(data.date) + '</span></div>';
	// 		},
	// 		item:function(data,escape){
	// 			return '<div>' + escape(data.value) + '</div>';
	// 		}
	// 	}
	// });
	

        </script>
        {% endblock %}

    </main>

{% endblock %}