{% extends 'base.html.twig' %}

{% block title %}Détail de l'itinéraire personnalisé{% endblock %}

{% block body %}
{# {{ dump(itinerary.customItineraryPlaceCities)}} #}

{# {% for itinerary in itinerary.customItineraryPlaceCities %}
    {{itinerary.place}}
{% endfor %} #}

{% for city in itinerary.cities %}
   {{cityPlacesCount}}, {{ city.cityName}}
{% endfor %}
{{ dump(arrivalPlacesCount)}}
<main class="top">
    <section id="show-itinerary">
        {# {{ itinerary.name}} #}
        {# <h1>"{{ itineraryDatas.name}}"</h1> #}
        <p class="itinerary-title">Votre itinéraire de <b><span>{{ itineraryDatas.departure }}</span></b> à <b>{{ itineraryDatas.arrival }}</b></p>
        <p>"{{ itineraryDatas.name}}"</p>
        <div class="aside-cities">
            <p class="title"><i class="fa-solid fa-location-dot" style="color: #9569FA;"></i>&nbsp;Ville de départ : <b><a href="{{ path('show_city', {'id': itineraryDatas.departureId}) }}">{{ itineraryDatas.departure }}</a></b></p>
            <p>
                <a href="{{ path('show_city', {'id': itineraryDatas.departureId}) }}"><i class="fa-solid fa-arrow-right-long"></i>
                {% if itineraryDatas.departurePlacesCount == 1 %}
                    {{ itineraryDatas.departurePlacesCount }} lieu à découvrir dans cette ville
                {% else %}
                {{ itineraryDatas.departurePlacesCount }} lieux à découvrir dans cette ville
                {% endif %}</a>
            </p>
            <p class="title"><i class="fa-solid fa-location-dot" style="color: #3F71EA;"></i>&nbsp;Ville d'arrivée : <b><a href="{{ path('show_city', {'id': itineraryDatas.arrivalId}) }}">{{ itineraryDatas.arrival }}</a></b></p>
            <p>
                <a href="{{ path('show_city', {'id': itineraryDatas.arrivalId}) }}"><i class="fa-solid fa-arrow-right-long"></i> 
                    {% if itineraryDatas.arrivalPlacesCount == 1 %}
                        {{ itineraryDatas.arrivalPlacesCount }} lieu à découvrir dans cette ville
                    {% else %}
                        {{ itineraryDatas.arrivalPlacesCount }} lieux à découvrir dans cette ville
                    {% endif %}
                </a>
            </p>
            <p class=" bold">Villes qui composent votre itinéraire<p>
            <div class="inter-cities">
                {% for city in itineraryDatas.cities %}
                    

                    <p class="title">
                        <i class="fa-solid fa-location-dot" style="color: #fb463a;"></i>&nbsp;
                        <b><a href="{{ path('show_city', {'id': city.cityId}) }}">{{city.cityName}}</a></b>
                    </p>
                    <p>
                        <a href="{{ path('show_city', {'id': city.cityId}) }}"><i class="fa-solid fa-arrow-right-long"></i>
                        {% if city.cityPlacesCount == 1 %}
                            {{ city.cityPlacesCount }} lieu à découvrir dans cette ville
                        {% else %}
                            {{ city.cityPlacesCount }} lieux à découvrir dans cette ville
                        {% endif %}</a>
                    </p>
                {% endfor %}
            </div>
            <a href="{{ path('edit_itinerary', {'id': itinerary.id}) }}">Modifier mon itinéraire</a>
        </div>
        {# {% for place in itineraryDatas.cityPlaces %}
            {{ place.placeName}}
        {% endfor %} #}
        <div id="map-itinerary"></div>
    </section>
</main>
    {% block javascripts %}
      
        <script> const itineraryData = JSON.parse("{{ itineraryData|e('js') }}") || [];</script>
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
                integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
                crossorigin=""></script>
        <script src="{{ asset('js/customItinerary.js')}}"></script>
        
    {% endblock %}

{% endblock %}