{% extends 'base.html.twig' %}

{% block title %}Détail de l'itinéraire personnalisé{% endblock %}

{% block body %}
{# {{ dump(itinerary.customItineraryPlaceCities)}} #}

{# {% for itinerary in itinerary.customItineraryPlaceCities %}
    {{itinerary.place}}
{% endfor %} #}

{# {% for city in itinerary.cities %}
   {{cityPlacesCount}}, {{ city.cityName}}
{% endfor %}
{{ dump(arrivalPlacesCount)}}

{{ itinerary.arrival}}, {{ arrivalPlacesCount}}
{{ itinerary.departure.id}}  #}
<main class="new-itinerary-form">
    <section id="itinerary-form">
        {# {{ itinerary.name}} #}
        {# <h1>"{{ itineraryDatas.name}}"</h1> #}
        <p class="itinerary-title">Votre itinéraire de <b><span>{{ itinerary.departure }}</span></b> à <b>{{ itinerary.arrival }}</b></p>
        <p><span class="quote">«</span>{{ itinerary.name}}<span class="quote">»</span</p>
        <div class="aside-cities">
            <p class="title"><i class="fa-solid fa-location-dot" style="color: #9569FA;"></i>&nbsp;Ville de départ : <b><a href="{{ path('show_city', {'id': itinerary.departure.id}) }}">{{ itinerary.departure }}</a></b></p>
            <p>
                <a class="city-href" href="{{ path('show_city', {'id': itinerary.departure.id}) }}"><i class="fa-solid fa-arrow-right-long"></i>
                {% if departurePlacesCount == 1 %}
                    {{ departurePlacesCount }} lieu à découvrir dans cette ville
                {% else %}
                    {{ departurePlacesCount }} lieux à découvrir dans cette ville
                {% endif %}</a>
                
                {% for itinerary in itinerary.customItineraryPlaceCities %}
                {# <p> {{ itinerary.place}} </p>
                <p> {{ itinerary.customItinerary.departure  }}</p> #}

                {% if itinerary.city == itinerary.customItinerary.departure  %}  
                 <p>  {{ itinerary.place}}</p>
                    
                {% endif %}   
                {# <p>  {{ itinerary.city}} </p> #}
                {% endfor %}
                </p>
            </p>
            <p class="title"><i class="fa-solid fa-location-dot" style="color: #3F71EA;"></i>&nbsp;Ville d'arrivée : <b><a href="{{ path('show_city', {'id': itinerary.arrival.id}) }}">{{ itinerary.arrival }}</a></b></p>
            <p>
                <a class="city-href" href="{{ path('show_city', {'id': itinerary.arrival.id }) }}"><i class="fa-solid fa-arrow-right-long"></i> 
                    {% if arrivalPlacesCount == 1 %}
                        {{ arrivalPlacesCount }} lieu à découvrir dans cette ville
                    {% else %}
                        {{ arrivalPlacesCount }} lieux à découvrir dans cette ville
                    {% endif %}
                </a>
                {% for itinerary in itinerary.customItineraryPlaceCities %}
                {# <p> {{ itinerary.place}} </p>
                <p> {{ itinerary.customItinerary.departure  }}</p> #}

                {% if itinerary.city == itinerary.customItinerary.arrival  %}  
                 <p>  {{ itinerary.place}}</p>
                    
                {% endif %}   
                {# <p>  {{ itinerary.city}} </p> #}
                {% endfor %}
                </p>
            </p>
            <div class="inter-cities-container">
                <p class="bold">Villes qui composent votre itinéraire<p>
                <div class="inter-cities">
                    {% for city in itinerary.cities %}
                    

                        <p class="title">
                            <i class="fa-solid fa-location-dot" style="color: #fb463a;"></i>&nbsp;
                            <b><a href="{{ path('show_city', {'id': city.id}) }}">{{city.cityName}}</a></b>
                        </p>
                        <p>
                            <a class="city-href" href="{{ path('show_city', {'id': city.id}) }}"><i class="fa-solid fa-arrow-right-long"></i>
                            {% if cityPlacesCount == 1 %}
                                {{ cityPlacesCount }} lieu à découvrir dans cette ville
                            {% else %}
                                {{ cityPlacesCount }} lieux à découvrir dans cette ville
                            {% endif %}</a>
                        </p>
                        {% for place in city.customItineraryPlaceCities %}
                          <p>  {{place.place.name}} </p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <a href="{{ path('edit_itinerary', {'id': itinerary.id}) }}">Modifier mon itinéraire</a>
        </div>
        {# {% for place in city.customItineraryPlaceCities %}
            {{ place.placeName}}
        {% endfor %} #}
        <div id="map-itinerary"></div>
    </section>
</main>
 

{% endblock %}
{% block javascripts %}
    
    <script> const itineraryData = JSON.parse("{{ itineraryData|e('js') }}") || [];</script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script src="{{ asset('js/customItinerary.js')}}"></script>
    
{% endblock %}