 <h1>{{ city.cityName }}</h1>


        {% set restaurants = city.places|filter(place => place.type == 'Restaurant') %}
        {% if restaurants|length > 0 %}
        <div class="type-container">
            <div class="detail-type">
                <h2>Restaurants</h2>
                <p>Savourez le meilleur de l'Alsace dans nos restaurants choisis. Découvrez une cuisine riche en traditions et pleine de saveurs.</p>
            </div>
            <i class="fa-solid fa-circle-arrow-left scroll-left"></i>
            <div class="scroll-container">
                <ul class="scroll-list">
                {% for place in restaurants %}
                {# {% if place.type == 'Restaurant' %} #}
                    <li class="scroll-item">
                        <a href="{{ path('show_place', {'id': place.id}) }}">
                            {% for image in place.images %}
                                {% if loop.first %}
                                    
                                    <figure class="img-city-detail">
                                        <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}">
                                        <div class="discover-city">
                                            <p>Découvrir</p>
                                        </div>
                                    </figure>
                                {% endif %}
                            {% endfor %}
                            <b>{{ place.name}}</b>
                            <div>{{averageRatings[place.id]|default('Pas de notes')|round(1, 'floor')|stars|raw }}({{ place.ratings|length}})</div>
                        </a>
                    </li>
                {# {% endif %} #}

                {% endfor %} 
                </ul>
            </div>
            <i class="fa-solid fa-circle-arrow-right scroll-right"></i>
        </div>
        {% endif %}
        {% set hotels = city.places|filter(place => place.type == 'Hôtel') %}
        {% if hotels|length > 0 %}
        <div class="type-container">
            <div class="detail-type">
                <h2>Hôtels</h2>
                <p>Profitez du confort de nos hôtels sélectionnés en Alsace. Vivez une expérience d'hébergement unique, où tradition et modernité se rencontrent.</p>
            </div>
            <i class="fa-solid fa-circle-arrow-left scroll-left"></i>
            <div class="scroll-container">
                <ul class="scroll-list">
                {% for place in hotels %}
                {# {% if place.type == 'Hôtel' %} #}
                    <li class="scroll-item">
                        <a href="{{ path('show_place', {'id': place.id}) }}">
                            {% for image in place.images %}
                                {% if loop.first %}
                                    
                                    <figure class="img-city-detail">
                                        <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}">
                                        <div class="discover-city">
                                            <p>Découvrir</p>
                                        </div>
                                    </figure>
                                {% endif %}
                            {% endfor %}
                            <p><b class="break-word">{{ place.name}}</b></p>
                            <div>{{averageRatings[place.id]|default('Pas de notes')|round(1, 'floor')|stars|raw }}({{ place.ratings|length}})</div>
                        </a>
                    </li>
                {# {% endif %} #}

                {% endfor %} 
                </ul>
            </div>
            <i class="fa-solid fa-circle-arrow-right scroll-right"></i>
        </div>
       {% endif %}
        {% set hotelsRestaurants = city.places|filter(place => place.type == 'Hôtel-Restaurant') %}
        {% if hotelsRestaurants|length > 0 %}
        <div class="type-container">
            <div class="detail-type">
                <h2>Hôtel-Restaurants</h2>
                <p>Profitez du meilleur des deux mondes dans nos hôtel-restaurants alsaciens sélectionnés. Vivez une expérience inoubliable.</p>
            </div>
            <i class="fa-solid fa-circle-arrow-left scroll-left"></i>
            <div class="scroll-container">
                <ul class="scroll-list">
                {% for place in hotelsRestaurants %}
                {# {% if place.type == 'Hôtel-Restaurant' %} #}
                    <li class="scroll-item">
                        <a href="{{ path('show_place', {'id': place.id}) }}">   
                            {% for image in place.images %}
                                {% if loop.first %}
                                    
                                    <figure class="img-city-detail">
                                        <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}">
                                        <div class="discover-city">
                                            <p>Découvrir</p>
                                        </div>
                                    </figure>
                                {% endif %}
                            {% endfor %}
                            <b>{{ place.name}}</b>
                            <div>{{averageRatings[place.id]|default('Pas de notes')|round(1, 'floor')|stars|raw }}({{ place.ratings|length}})</div>
                        </a>
                    </li>
                {# {% endif %} #}

                {% endfor %} 
                </ul>
            </div>
            <i class="fa-solid fa-circle-arrow-right scroll-right"></i>
        </div>
       {% endif %}
       {% set activities = city.places|filter(place => place.type == 'Activité') %}
       {% if activities|length > 0 %}
        <div class="type-container">
            <div class="detail-type">
                <h2>Activités</h2>
                <p>Découvrez les activités palpitantes d'Alsace. Participez à des expériences uniques qui allient culture, histoire et aventure pour enrichir votre séjour.</p>
            </div>
            <i class="fa-solid fa-circle-arrow-left scroll-left"></i>
            <div class="scroll-container">
                <ul class="scroll-list">
                {% for place in activities %}
                {# {% if place.type == 'Activité' %} #}
                    <li class="scroll-item">
                        <a href="{{ path('show_place', {'id': place.id}) }}">  
                            {% for image in place.images %}
                                {% if loop.first %}
                                    
                                    <figure class="img-city-detail">
                                        <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}">
                                        <div class="discover-city">
                                            <p>Découvrir</p>
                                        </div>
                                    </figure>
                                {% endif %}
                            {% endfor %}
                            <b>{{ place.name}}</b>
                            <div>{{averageRatings[place.id]|default('Pas de notes')|round(1, 'floor')|stars|raw }}({{ place.ratings|length}})</div>
                        </a>
                    </li>
                {# {% endif %} #}

                {% endfor %} 
                </ul>
            </div>
            <i class="fa-solid fa-circle-arrow-right scroll-right"></i>
        </div>
        {% endif %}
 <p><a href="{{ path('find_posts_city', {'cityId': city.id})}}">Voir les posts de cette ville</a></p>

       