{% extends 'base.html.twig' %}
   
{% block title %}{% endblock %}

{% block body %}




<main class="top">
    <section id="detail-city">
       <div>
            <p>Filtrer</p>
            <form id="filters">
                {% for theme in themes %}
                    <p><input type="checkbox" name="themes[]" id="theme{{ theme.id}}" value="{{ theme.id}}">
                    <label for="theme{{ theme.id}}">{{ theme.name }}</label></p>
                {% endfor %}
            </form>
       </div>
       <div id="content">
        
            {% include "place/_content.html.twig" %}
       </div>
    </section>
</main>

    {% endblock %}
   {% block javascripts %}
<script>
    // const scrollContainer = document.querySelector('.scroll-container');
const containers = document.querySelectorAll('.type-container');

containers.forEach(container => {

    const scrollItem = container.querySelector('.scroll-item');
    const scrollList = container.querySelector('.scroll-list');
    const scrollLeftBtn = container.querySelector('.scroll-left');
    const scrollRightBtn = container.querySelector('.scroll-right');
    
    let scrollPosition = 0;
    
    scrollRightBtn.addEventListener('click', () => {
      scrollPosition += scrollItem.offsetWidth;
      scrollList.style.transform = `translateX(-${scrollPosition}px)`;
    });
    
    scrollLeftBtn.addEventListener('click', () => {
      scrollPosition -= scrollItem.offsetWidth;
      if (scrollPosition < 0) {
        scrollPosition = 0;
      }
      scrollList.style.transform = `translateX(-${scrollPosition}px)`;
    });

})

</script>
<script src="{{ asset('js/filters.js') }}"></script>

{% endblock %}
