{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

{{ form_start(formAddPlace) }}

{{ form_row(formAddPlace.name) }}
{{ form_row(formAddPlace.address) }}
{{ form_row(formAddPlace.city) }}
{{ form_row(formAddPlace.zipcode) }}
{{ form_row(formAddPlace.openingHours) }}
{{ form_row(formAddPlace.website) }}
{{ form_row(formAddPlace.phoneNumber) }}
{{ form_row(formAddPlace.description) }}
{{ form_row(formAddPlace.latitude) }}
{{ form_row(formAddPlace.longitude) }}
{{ form_row(formAddPlace.type) }}
{{ form_row(formAddPlace.themes) }}
{{ form_row(formAddPlace.companions) }}
{{ form_row(formAddPlace.valider) }}
{# Si la route est "place_edit" on affiche les images #}
{% if app.request.attributes.get('_route') == 'edit_place' %}
    <h2>Images</h2>
    {% for image in place.images %}
        <div>
            <img src="{{ asset('/images/'~image.name) }}" alt="" width="150">

            {# On ajoute un lien permettant de supprimer une image (sera géré en Ajax) #}
            <a href="{{ path('delete_image_place', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id) }}" method="DELETE">Supprimer</a>

        </div>
    {% endfor %}
{% endif %}

{{ form_end(formAddPlace) }}
{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}
{% endblock %}
