{% extends 'base.html.twig' %}

{% block title %}Détails d'un lieu{% endblock %}

{% block body %}
{% block stylesheets %}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock %}
{# {{ dump(count)}} #}
    <main class="show-place-main">
        <h1><i class="fa-solid fa-location-dot" style="color: #fb463a;"></i>&nbsp;{{ place.name }}</h1>
        <figure class="flying-stork-place">
                <img src="/img-source/flying-stork.webp" alt="Icône représentant une cigogne en vol">
        </figure>
        <section class="show-place">
            <div class="show-place-infos">
                <div><p>Note des utilisateurs :</p>{{ averageRating|round(1, 'floor')|stars|raw }}({{ place.ratings|length}})</div>
                <div>
                    {# <p><b>Localisation</b></p> #}
                    <p><b>Adresse :</b> {{ place.address }}, {{ place.zipcode }} {{ place.city }}</p>
                </div>
                <div>
                    {# <p><b>Contact</b></p> #}
                    {# <p class="openinghrs"><b>Horaires d'ouverture :</b><br>{{ place.openingHours }}</p> #}
                    <p>
                        <b>Site web :</b>
                        {% if place.website %}
                            <a href="{{ place.website }}" target="_blank">{{ place.website }}</a>
                        {% else %}
                            Pas de site web
                        {% endif %}
                    </p>        
                    <p><b>Téléphone :</b> {{ place.phoneNumber }}</p>
                </div>
                <div>
                    {# <h2>Catégorie</h2>
                    <p>Type : {{ place.type }}</p>
                    <p>Thème :
                        {% for theme in place.themes %}
                            {{ theme }}
                        {% endfor %}
                    </p>
                    <p>Companion :
                        {% for companion in place.companions %}
                            {{ companion }}
                        {% endfor %}
                    </p> #}
                    <p class="description-place"><b>Description :</b> {{ place.description }}</p>
                </div>
                {% if count > 0 %}
                   <button id="add-place-itinerary">Ajouter ce lieu à un itinéraire</button>
                   <div id="add-place-itinerary-form" class="hidden-form">
                        {{ form_start(itineraryPlaceCity)}}
                        {{ form_row(itineraryPlaceCity.customItinerary)}}
                        {{ form_row(itineraryPlaceCity.valider)}}
                        {{form_end(itineraryPlaceCity)}}
                    </div>
                {% endif %}
            </div>
            <div class="wrapper-container-place">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        {% for image in place.images %}
                            {# <div class="swiper-slide-post-show"> #}
                                <figure class="swiper-slide">
                                    <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}" >
                                </figure>
                            {# </div> #}
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for image in place.images %}
                            {# <div class="swiper-slide-post-show"> #}
                                <figure class="swiper-slide">
                                    <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}" >
                                </figure>
                            {# </div> #}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>   

         {# <p>Notes et commentaires :</p>
            
                {% for rating in place.ratings %}
                <div>
                    <div>
                        <figure class="rating-profile">
                            <img src="{{ '/uploads/'~ rating.user.profilePicture}}">
                        </figure>
                        <div>
                            <small>{{ rating.user }}</small>
                            <small>{{ rating.ratingDate|date("d/m/Y, H:i")}}</small>
                            <div>{{ rating.rating|stars|raw}}</div>
                        </div>
                    </div>
                    <p>{{ rating.comment }}</p>
                </div>
                {% endfor %}  #}
            {# A modifier pour réserver à l'Admin #}
            {# <a href="{{ path('edit_place', {'id' : place.id})}}">Modifier ce lieu</a>
            <a href="{{ path('delete_place', {'id' : place.id})}}">Supprimer ce lieu</a>
             ------------------------------------ 
            <a href="{{ path('new_rating', {'placeId': place.id})}}">Noter ce lieu</a>
            <a href="{{ path('new_post_place', {'placeId': place.id})}}">Publier un post</a>
            <a href="{{ path('find_posts_place', {'placeId': place.id})}}">Voir les posts de ce lieu</a> #}
        
    </main>
    {# {{dump(place.images)}} #}
    
    
    {% block javascripts %}
       <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function(){
        const swiper = new Swiper(".mySwiper", {
            loop: true,
            spaceBetween: 10,
            slidesPerView: 3,
            
            freeMode: true,
            watchSlidesProgress: true,
        });
        const swiper2 = new Swiper(".mySwiper2", {
            loop: true,
            spaceBetween: 10,
            mousewheel: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiper,
            },
        });
    });

    const addPlaceItineraryBtn = document.getElementById('add-place-itinerary');
    const addPlaceItineraryForm = document.getElementById('add-place-itinerary-form');

    addPlaceItineraryBtn.addEventListener('click', () => {
        addPlaceItineraryForm.classList.toggle('hidden-form')
    });
    </script>
        {# <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> #}
        {# <script src="https://kit.fontawesome.com/d004286c36.js" crossorigin="anonymous"></script> #}
    {% endblock %}
{% endblock %}
