{% extends 'base.html.twig' %}

{% block title %}Détails d'un lieu{% endblock %}

{% block body %}
{% block stylesheets %}
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
{% endblock %}
{# {{ dump(count)}} #}
    <main class="show-place-main">
        <h1><i class="fa-solid fa-location-dot" style="color: #fb463a;"></i>&nbsp;{{ place.name }}</h1>
        <figure class="flying-stork-place">
                <img src="/img-source/flying-stork.webp" alt="Icône représentant une cigogne en vol">
        </figure>
        <section class="show-place">
            <div class="show-place-infos">
                <div>
                    <p>
                        <strong>{{ place.name }}</strong>{{ averageRating|round(1, 'floor')|stars|raw }}({{ place.ratings|length}})</p>
                </div>
                <div>
                    {# <p><b>Localisation</b></p> #}
                    <p>
                        <b>Adresse</b><i class="fa-solid fa-location-dot" style="color: #fb463a;"></i>&nbsp;{{ place.address }}, {{ place.zipcode }} {{ place.city }}
                    </p>
                </div>
                <div>
                    {# <p><b>Contact</b></p> #}
                    {# <p class="openinghrs"><b>Horaires d'ouverture :</b><br>{{ place.openingHours }}</p> #}
                    <p>
                        <b>Site web</b>
                        {% if place.website %}
                            <a href="{{ place.website }}" target="_blank">{{ place.website }}</a>
                        {% else %}
                            Ce lieu ne possède pas de site web.
                        {% endif %}
                    </p>
                </div>
                <div>       
                    <p>
                        <i class="fa-solid fa-phone"></i>&nbsp;<b>Téléphone</b>{{ place.phoneNumber }}
                    </p>
                </div>
                <div>
                    {# <h2>Catégorie</h2>
                    <p>Type : {{ place.type }}</p>
                    <p>Thème :
                        {% for theme in place.themes %}
                            {{ theme }}
                        {% endfor %}
                    </p>
                    <p>Companion :
                        {% for companion in place.companions %}
                            {{ companion }}
                        {% endfor %}
                    </p> #}
                    <p class="description-place"><b>Description</b><br>{{ place.description }}</p>
                </div>
                {% if itinerariesByPlace|length > 0 %}

                {# {% set placeAlreadyAdded = false %}
                {% for itinerary in itinerariesByPlace %}
                    {% if itinerary == selectedItinerary %}
                        {% for customItineraryPlaceCity in itinerary.customItineraryPlaceCities %}
                            {% if customItineraryPlaceCity.place.id == place.id %}
                                {% set placeAlreadyAdded = true %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% if not placeAlreadyAdded %} #}
                      <button id="add-place-itinerary">Ajouter ce lieu à un itinéraire</button>
                   <div id="add-place-itinerary-form" class="hidden-form">
                        {{ form_start(itineraryPlaceCity)}}
                        {{ form_row(itineraryPlaceCity.customItinerary)}}
                        {{ form_row(itineraryPlaceCity.valider)}}
                        {{form_end(itineraryPlaceCity)}}
                    </div>
                {# {% endif %} #}
            {% endif %}


{# 
                {% if itinerariesByPlace|length > 0 %}
                   <button id="add-place-itinerary">Ajouter ce lieu à un itinéraire</button>
                   <div id="add-place-itinerary-form" class="hidden-form">
                        {{ form_start(itineraryPlaceCity)}}
                        {{ form_row(itineraryPlaceCity.customItinerary)}}
                        {{ form_row(itineraryPlaceCity.valider)}}
                        {{form_end(itineraryPlaceCity)}}
                    </div>
                {% endif %} #}
            </div>
            <div class="wrapper-container-place">
                <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="swiper mySwiper2">
                    <div class="swiper-wrapper">
                        {% for image in place.images %}
                            {# <div class="swiper-slide-post-show"> #}
                                <figure class="swiper-slide">
                                    <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}" >
                                </figure>
                            {# </div> #}
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <div thumbsSlider="" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {% for image in place.images %}
                            {# <div class="swiper-slide-post-show"> #}
                                <figure class="swiper-slide">
                                    <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}" >
                                </figure>
                            {# </div> #}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>   
        <div class="itinerary-ul">
            <p>Accès à vos itinéraires :</p>
            <ul>
            {% for itinerary in app.user.CustomItineraries %}
            <li><a class="itinerary-href" href="{{ path('show_itinerary', {'id' : itinerary.id})}}"><i class="fa-solid fa-arrow-right-long"></i> {{ itinerary.name}}</a></li>
            {% endfor %}
            <ul>
        </div>
        <div class="show-place-links-new">
          <p class="show-posts-place"><a href="{{ path('find_posts_place', {'placeId': place.id})}}"> Voir les posts de ce lieu</a></p>
          <p class="show-posts-place"><a href="{{ path('new_post_place', {'placeId': place.id})}}">Publier un post</a></p>
          <p class="show-posts-place"><a href="{{ path('new_rating', {'placeId': place.id})}}">Noter ce lieu</a></p>
        </div>
        <div class="rating-comments-container">
            <p>Notes et commentaires :</p>
            <div class="rating-comments">
                {% for rating in place.ratings %}
                <div>
                    <div class="rating-profile-container">
                        <figure class="rating-profile">
                            <img src="{{ '/uploads/'~ rating.user.profilePicture}}">
                        </figure>
                        <div>
                            <small>{{ rating.user }}</small>
                            <small>{{ rating.ratingDate|date("d/m/Y, H:i")}}</small>
                            <div>{{ rating.rating|stars|raw}}</div>
                        </div>
                    </div>
                    <div class="rating-content-links">
                        <p>{{ rating.comment }}</p>
                        <div>
                            {% if app.user == rating.user %}
                            <small><a href=""><i class="fa-solid fa-pencil"></i></a></small>
                            <small><a href="{{ path('delete_rating', {'id': rating.id}) }}"><i class="fa-regular fa-trash-can"></i></a></small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        <div>
            {# A modifier pour réserver à l'Admin #}
            {# <a href="{{ path('edit_place', {'id' : place.id})}}">Modifier ce lieu</a>
            <a href="{{ path('delete_place', {'id' : place.id})}}">Supprimer ce lieu</a>#}
            {# add list of user's itineraries #}
          
           
          
        
    </main>
    {# {{dump(place.images)}} #}
    
    
{% endblock %}
    {% block javascripts %}
       <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function(){
        const swiper = new Swiper(".mySwiper", {
            loop: true,
            spaceBetween: 10,
            slidesPerView: 3,
            
            freeMode: true,
            watchSlidesProgress: true,
        });
        const swiper2 = new Swiper(".mySwiper2", {
            loop: true,
            spaceBetween: 10,
            mousewheel: true,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            thumbs: {
                swiper: swiper,
            },
        });
    });

    const addPlaceItineraryBtn = document.getElementById('add-place-itinerary');
    const addPlaceItineraryForm = document.getElementById('add-place-itinerary-form');

    addPlaceItineraryBtn.addEventListener('click', () => {
        addPlaceItineraryForm.classList.toggle('hidden-form')
    });
    </script>
        {# <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> #}
        {# <script src="https://kit.fontawesome.com/d004286c36.js" crossorigin="anonymous"></script> #}
    {% endblock %}
