{% extends 'base.html.twig' %}

{% block title %}Détails d'un lieu{% endblock %}

{% block body %}
    <main class="top">
        <section>
            <h1>{{ place.name }}</h1>
            <div>{{ averageRating|round(1, 'floor')|stars|raw }}({{ place.ratings|length}})</div>
            <div>
                <h2>Localisation</h2>
                <p>Adresse : {{ place.address }}, {{ place.zipcode }} {{ place.city }}</p>
            </div>
            <div>
                <h2>Contact</h2>
                <p>Horaires d'ouverture :{{ place.openingHours }}</p>
                <p>
                    Site web :
                    {% if place.website %}
                        <a href="{{ place.website }}" target="_blank">{{ place.website }}</a>
                    {% else %}
                        Pas de site web
                    {% endif %}
                </p>        
                <p>Téléphone : {{ place.phoneNumber }}</p>
            </div>
            <div>
                <h2>Catégorie</h2>
                <p>Type : {{ place.type }}</p>
                <p>Thème :
                    {% for theme in place.themes %}
                        {{ theme }}
                    {% endfor %}
                </p>
                <p>Companion :
                    {% for companion in place.companions %}
                        {{ companion }}
                    {% endfor %}
                </p>
                <p>Description : {{ place.description }}</p>
            </div>

            <p>Notes et commentaires :</p>
            
                {% for rating in place.ratings %}
                <div>
                    <div>
                        <figure class="rating-profile">
                            <img src="{{ '/uploads/'~ rating.user.profilePicture}}">
                        </figure>
                        <div>
                            <small>{{ rating.user }}</small>
                            <small>{{ rating.ratingDate|date("d/m/Y, H:i")}}</small>
                            <div>{{ rating.rating|stars|raw}}</div>
                        </div>
                    </div>
                    <p>{{ rating.comment }}</p>
                </div>
                {% endfor %}
            

         
            {% for image in place.images %}
                <figure>
                    <img src="{{ asset('images/place/') ~ image.name }}" alt="{{ place.name }}" width="150">
                </figure>
            {% endfor %}

            {# A modifier pour réserver à l'Admin #}
            <a href="{{ path('edit_place', {'id' : place.id})}}">Modifier ce lieu</a>
            <a href="{{ path('delete_place', {'id' : place.id})}}">Supprimer ce lieu</a>
            <a href="{{ path('new_rating', {'placeId': place.id})}}">Noter ce lieu</a>
            <a href="{{ path('new_post_place', {'placeId': place.id})}}">Publier un post</a>
            <a href="{{ path('find_posts_place', {'placeId': place.id})}}">Voir les posts de ce lieu</a>
        </section>
    </main>
    {# {{dump(place.images)}} #}
    
    
    {% block javascripts %}
    <script src="https://kit.fontawesome.com/d004286c36.js" crossorigin="anonymous"></script>
    {% endblock %}
{% endblock %}
