{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        Editer le post
    {% else %}
        Nouveau post
        {% endif %}
{% endblock %}

{% block body %}
<main>
    <section>
    <h1>Ajouter un post</h1>


    {{ form_start(formAddPost) }}

    {{ form_row(formAddPost.title) }}
    {{ form_row(formAddPost.content) }}
    {{ form_row(formAddPost.image) }}

    {{ form_row(formAddPost.valider) }}
    
    {{ form_end(formAddPost) }}
    </section>

    {# {% do formAddPost.place.setRendered %}  #}

</main>
{% endblock %}
