{% extends 'base.html.twig' %}

{% block title %}Nouveau post{% endblock %}

{% block body %}
<main>
    <section>
    <h1>Ajouter un post</h1>


    {{ form_start(formAddPost) }}

    {{ form_row(formAddPost.title) }}
    {{ form_row(formAddPost.content) }}
    {{ form_row(formAddPost.image) }}
    {% if placeSelect == true %}
        {{ form_row(formAddPost.place) }}
    {% endif %}
    
    {{ form_row(formAddPost.valider) }}
    
    {{ form_end(formAddPost) }}
    </section>

    {# {% do formAddPost.place.setRendered %}  #}

</main>
{% endblock %}
