{% extends 'base.html.twig' %}

{% block title %}Détail du post{% endblock %}

{% block body %}
<main class="bcg-post-detail">
    <section id="detail-post">
        <h1>« {{ post.title }} »</h1>
        <div class="detail-post-container">
            <div class="detail-post-content">
                <div class="detail-post-content-text">
                    <div class="profile-post-detail-container">
                        <figure class="user-profile-pic-sm-circle">
                            <img src="{{ asset('uploads/'~ post.user.profilePicture)}}">
                        </figure>
                        <div>
                            <p>{{ post.user }}</p>
                            <small>{{post.creationDate | date("d/m/Y, H:i")}}</small>
                        </div>
                    </div>
                    <div>
                        <p>
                            <a href="{{ path('show_place', {'id': post.place.id}) }}"><i class="fa-solid fa-location-dot" style="color: #fb463a;"></i>&nbsp;{{post.place}}</a>
                        </p>
                        <p>
                            <a href="{{ path('show_city', {'id': post.place.city.id}) }}"><i class="fa-solid fa-map-pin"></i>&nbsp;{{post.place.city}}</a>
                        </p>
                    </div>
                </div>
                {# <div class="detail-post-content-text"> #}
                        
                <div class="detail-post-small-container">
                    <p>{{post.content}}</p>
                    <div>
                        <small><a href="{{ path('edit_post', {'id': post.id}) }}"><i class="fa-solid fa-pencil"></i></a></small>
                        <small><a href="{{ path('edit_post', {'id': post.id}) }}"><i class="fa-regular fa-trash-can"></i></a></small>
                    </div>
                </div>
                {# </div> #}
                <div class="post-comments-detail">
                    {% if post.commentaries|length > 0 %}
                        {% for comment in post.commentaries %}
                            <div class="comment-user-detail">
                                <div class="comment-user-detail-pic">
                                    <figure>
                                        <img src="{{ asset('uploads/'~ comment.user.profilePicture)}}">
                                    </figure>
                                    <p>{{ comment.user}}, <small> le {{comment.creationDate | date("d/m/Y, H:i")}}</small></p>
                                </div>
                                <div class="comment-content-links">
                                    <p>{{ comment.content}}</p>
                                    <div>
                                        <small><a href="{{ path('edit_commentary', {'id': comment.id, 'postId': post.id }) }}"><i class="fa-solid fa-pencil"></i></a></small>
                                        <small><a href="{{ path('delete_commentary', {'id': comment.id, 'postId': post.id }) }}"><i class="fa-regular fa-trash-can"></i></a></small>
                                    </div>
                                </div>
                            </div>    
                        {% endfor %}
                    {% else %}
                        <p>Pas de réponse pour le moment ... <button id="add-comment-by-post">Répondez</button> à ce post !</p>
                    {% endif %}

                    <div id="add-comment-by-post-form" >

                        {{ form_start(formAddCommentary) }}

                        {{ form_row(formAddCommentary.content) }}

                        {{ form_row(formAddCommentary.valider) }}

                        {{ form_end(formAddCommentary) }}
                    </div>
                    
                </div>
            </div>

            {# <div class="detail-post-figure-container"> #}
                <figure class="detail-post-figure">
                    <img src="{{ asset('uploads/'~ post.image)}}">
                </figure>
            {# </div>   #}
        
        </div>     
    
    </section>
    <a href="{{ path('new_commentary', {'postId': post.id})}}">Répondre</a>
</main>
{% endblock %}
{% block javascripts %}
    <script>
        const addCommentBtn = document.getElementById('add-comment-by-post');
        const addCommentForm = document.getElementById('add-comment-by-post-form');

        addCommentBtn.addEventListener('click', () => {
            addCommentForm.classList.toggle('hidden-form-container')
        });
    </script>
  {% endblock %}